@use "../helpers" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: to-rem(18) to-rem(24);
  font-size: to-rem(18);
  background-color: var(--color-dark);
  white-space: nowrap;
  color: var(--color-gray-60);
  border: var(--border);
  border-radius: to-rem(12);

  @include laptop {
    padding: to-rem(14) to-rem(20);
    font-size: to-rem(14);
    border-radius: to-rem(8);
  }

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }

  &--accent {
    font-weight: 500;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-dark);
    border-radius: to-rem(8);
  }
}