@use "../helpers" as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-rang: to-rem(100) to-rem(200);

  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--color-dark-40);
    }
  }

  &__promo {
    background-color: var(--color-dark);
    padding-block: to-rem(20);
    text-align: center;
    border-bottom: var(--border);

    @include mobile {
      padding-block: to-rem(14);
    }
  }

  &__body {
    padding: to-rem(24);
    background-color: var(--color-dark-10);

    @include mobile {
      padding: to-rem(20) 0;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      padding: 1rem;
      background-color: var(--color-dark-10);
      transition-duration: var(--transition-duration);

      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;


      &:not(.is-active) {
        @include hide;
        translate: 100%;
      }
    }
  }

  &__menu {

    @include mobile {
      overflow-y: auto;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: to-rem(16);

      @include laptop {
        gap: to-rem(6);
      }

      @include mobile {
        flex-direction: column;
        gap: 1rem;
      }
    }

    &-link {
      padding: to-rem(14) to-rem(24);
      font-weight: 400;
      color: var(--color-gray-50);

      @include laptop {
        padding: to-rem(10) to-rem(18);
      }

      &.is-active {
        color: var(--color-light);
        background-color: var(--color-dark);
        border: var(--border);
        border-radius: to-rem(10);
        font-weight: 500;

        pointer-events: none;
      }
    }
  }

  &__contact-us-link {
    width: 100%;
    align-self: center;
    max-width: 300px;
  }
}