.icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  &::after {
    --size: #{rem(24)}

    @include square(var(--size));

    content: '';
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}